global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'local-webhook'

receivers:
  - name: 'local-webhook'
    webhook_configs:
      - url: 'http://localhost:9080/webhook'
        send_resolved: true
