services:
  prometheus:
    image: prom/prometheus:latest
    ports:
      - target: 9090
        published: 9090
        protocol: tcp
        mode: host
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yaml
      - source: prometheus_rules
        target: /etc/prometheus/rules.yaml
    networks:
      - monitoring
    deploy:
      replicas: 1
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'

  alertmanager:
    build:
      context: ..
      dockerfile: Dockerfile.alertmanager
    ports:
      - target: 9093
        published: 9093
        protocol: tcp
        mode: host
    configs:
      - source: alertmanager_config
        target: /etc/alertmanager/alertmanager.yaml
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      replicas: 1
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yaml'

  alert_receiver:
    build:
      context: ..
      dockerfile: Dockerfile.alert-receiver
    ports:
      - target: 9080
        published: 9080
        protocol: tcp
        mode: host
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      replicas: 1

configs:
  prometheus_config:
    file: ./prometheus.yaml

  prometheus_rules:
    file: ./prometheus_rules.yaml

  alertmanager_config:
    file: ./alertmanager.yaml

networks:
  monitoring:
